@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaLight.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaBold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaHeavy.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: left;
}

a,
a:hover {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

.h-100 {
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #002538;
  opacity: 0.9;
}

.cart-btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.cart-btn::after {
  content: "";
  width: 32px;
  height: 20px;
  background: url("../images/common/cart.svg") center no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.cart-btn:hover {
  color: #ffffff;
}

.btn {
  height: 50px;
  display: flex;
  width: max-content;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: #ffffff;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.flickity-page-dots {
  bottom: -30px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.flickity-page-dots .dot {
  margin-left: 0;
  background: #289fdd;
  opacity: 0.4;
}

.flickity-page-dots .dot:not(:last-child) {
  margin-right: 18px;
}

.flickity-page-dots .dot.is-selected {
  background: #289fdd;
  width: 13px;
  height: 13px;
  opacity: 1;
}

.flickity-prev-next-button {
  width: 55px;
  height: 55px;
}

.flickity-prev-next-button.previous {
  background: url("../images/common/arrow-dark-left.svg") center no-repeat, #ffffff;
}

.flickity-prev-next-button.previous:not(:disabled):hover {
  background: url("../images/common/arrow-light-left.svg") center no-repeat, linear-gradient(90deg, #289FDD 0%, #07689A 100%);
}

.flickity-prev-next-button.previous:not(:disabled):active {
  opacity: 1;
  background: url("../images/common/arrow-light-left.svg") center no-repeat, #07689A;
}

.flickity-prev-next-button.next {
  background: url("../images/common/arrow-dark-right.svg") center no-repeat, #ffffff;
}

.flickity-prev-next-button.next:not(:disabled):hover {
  background: url("../images/common/arrow-light-right.svg") center no-repeat, linear-gradient(90deg, #289FDD 0%, #07689A 100%);
}

.flickity-prev-next-button.next:not(:disabled):active {
  opacity: 1;
  background: url("../images/common/arrow-light-right.svg") center no-repeat, #07689A;
}

.flickity-prev-next-button:disabled {
  opacity: 0.4;
}

.flickity-prev-next-button .flickity-button-icon {
  display: none;
}

.banner {
  position: relative;
  height: 570px;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  overflow: hidden;
}

.banner__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 71px;
  color: #002538;
  opacity: 0.9;
  margin-top: 100px;
}

.banner__subtitle {
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  color: #000000;
  opacity: 0.8;
  margin-top: 30px;
}

.banner__image-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__sticker {
  position: absolute;
  top: -85px;
  right: -28px;
  padding: 130px 28px 0 0;
  width: 370px;
  height: 370px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background: #8B857A;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
}

.banner__button {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #289fdd;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.banner__button:hover {
  color: #ffffff;
}

.banner__button::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/banner/btn-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 15px;
}

.banner__link {
  position: relative;
  z-index: 2;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.banner__link:hover {
  color: #ffffff;
  text-decoration: none;
}

.section-card__image-wrap {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.section-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-card__name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  height: 70px;
  overflow: hidden;
  color: #002538;
  opacity: 0.9;
}

.section-card__description {
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #333333;
  opacity: 0.9;
}

.section-card__link {
  margin-top: 30px;
  display: flex;
  width: max-content;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #07689A;
}

.section-card__link::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/section-card/link-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 18px;
  transition: transform 150ms ease-in-out;
}

.section-card__link:hover {
  color: #07689A;
}

.section-card__link:hover::before {
  transform: translateX(10px);
}

.product-card__actions {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.5);
}

.product-card__image-wrapper {
  position: relative;
  height: 300px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(157, 157, 157, 0.2);
}

.product-card__image-wrapper:hover .product-card__actions {
  display: block;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-card__labels {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.product-card__label {
  display: flex;
  width: max-content;
  align-items: center;
  height: 30px;
  padding: 0 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.9;
}

.product-card__label:not(:last-child) {
  margin-bottom: 10px;
}

.product-card__label_sale {
  background: #BB9F12;
}

.product-card__label_new {
  background: #289fdd;
}

.product-card__label_best-price {
  background: #07689A;
}

.product-card__label_bestseller {
  background: #21B6B1;
}

.product-card__compare {
  position: absolute;
  top: 0;
  right: 0;
}

.product-card__cart {
  position: absolute;
  bottom: 70px;
  left: 30px;
  right: 30px;
}

.product-card__link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.product-card__link::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/product-card/link-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 15px;
  transition: transform 150ms ease-in-out;
}

.product-card__link:hover {
  color: #ffffff;
}

.product-card__link:hover::before {
  transform: translateX(7px);
}

.product-card__info {
  padding: 30px 5px 24px;
  border: 1px solid #F7F7F9;
  border-top: none;
}

.product-card__type {
  font-size: 16px;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  color: #575757;
  opacity: 0.9;
}

.product-card__name {
  margin-top: -7px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  color: #002538;
  opacity: 0.9;
}

.product-card__prices {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.product-card__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #07689A;
  opacity: 0.9;
}

.product-card__old-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #9D9D9D;
  opacity: 0.9;
  text-decoration: line-through;
}

.offer {
  margin-top: 60px;
}

.offer__image-wrap {
  position: relative;
  min-height: 388px;
}

.offer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.offer__content {
  border-top: 1px solid rgba(40, 159, 221, 0.3);
  display: flex;
  flex-direction: column;
}

.offer__text {
  padding: 74px 0 70px 65px;
  font-size: 20px;
  line-height: 31px;
  color: #002538;
  opacity: 0.9;
  max-width: 721px;
}

.offer__title {
  margin-bottom: 39px;
}

.offer__link {
  position: relative;
  display: flex;
  margin-top: auto;
  height: 80px;
  align-items: center;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 65px;
}

.offer__link::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/offer/link-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 15px;
  transition: transform 150ms ease-in-out;
}

.offer__link:hover {
  color: #ffffff;
}

.offer__link:hover::before {
  transform: translateX(7px);
}

.advantage {
  display: flex;
  align-items: start;
}

.advantage__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border: 3px solid #289fdd;
  margin-right: 15px;
}

.advantage__icon {
  max-width: 50px;
  max-height: 50px;
}

.advantage__content {
  margin-top: 8px;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #575757;
}

.advantage__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #002538;
  min-height: 62px;
  margin-bottom: 15px;
}

.news-card {
  display: flex;
}

.news-card_big {
  flex-direction: column;
}

.news-card__video {
  margin-bottom: 20px;
}

.news-card__image-wrap {
  flex-shrink: 0;
  width: 200px;
  height: 160px;
  margin-right: 15px;
}

.news-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-card__content {
  display: flex;
  flex-direction: column;
}

.news-card__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #2B2A29;
}

.news-card__caption {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #575757;
}

.news-card__date {
  margin-top: auto;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: rgba(43, 42, 41, 0.4);
}

.news-card__date::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../images/news-card/clock.svg") center no-repeat;
  background-size: contain;
  transform: translateY(-1px);
  margin-right: 6px;
}

.news-card_big .news-card__caption {
  margin-top: 20px;
  font-size: 20px;
  line-height: 31px;
}

.review {
  margin-left: auto;
  margin-right: auto;
  max-width: 754px;
  text-align: center;
}

.review__title {
  font-size: 25px;
  line-height: 31px;
  font-weight: 700;
  color: #333333;
}

.review__text {
  margin-top: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #666575;
}

.banners {
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.banners__slide {
  width: 100%;
}

.banners .flickity-page-dots {
  bottom: 33px;
}

.sections {
  margin-top: 120px;
}

.sections__title {
  text-align: center;
  margin-bottom: 70px;
}

.sections__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px 100px;
}

.products-carousel {
  margin-top: 100px;
}

.products-carousel__carousel {
  margin-top: 60px;
}

.products-carousel__item {
  width: 260px;
  margin-right: 30px;
}

.advantages {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.news-short {
  margin-top: 100px;
}

.news-short__content {
  margin-top: 60px;
}

.news-short__carousel {
  margin-left: 50px;
}

.news-short__slide {
  width: 100%;
}

.news-short__card:not(:last-child) {
  margin-bottom: 33px;
}

.news-short .flickity-page-dots {
  left: 0;
  transform: unset;
}

.reviews {
  margin-top: 105px;
  background: #D8F2FF;
}

.reviews__content {
  position: relative;
  padding: 112px 0 182px;
}

.reviews__content::before,
.reviews__content::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 50px;
  background: url("../images/reviews/quote-up.svg") center no-repeat;
  background-size: contain;
}

.reviews__content::before {
  top: -5px;
  left: 0;
}

.reviews__content::after {
  bottom: -5px;
  right: 0;
  transform: rotate(180deg);
}

.reviews__title {
  text-align: center;
}

.reviews__btn {
  margin-left: auto;
}

.reviews__portraits {
  margin-top: 68px;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__portrait {
  margin-right: 15px;
  width: 120px;
  height: 120px;
  transition: transform 150ms ease-in-out;
}

.reviews__portrait:not(.is-selected) {
  opacity: .5;
  transform: scale(0.84);
}

.reviews__portrait-image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.reviews__carousel {
  margin-top: 52px;
}

.reviews__carousel .flickity-page-dots {
  margin-bottom: -80px;
}

.reviews__carousel .flickity-prev-next-button {
  top: -25px;
}

.reviews__item {
  width: 100%;
  margin-right: 15px;
}

@media screen and (max-width: 1399.98px) {
  .sections__grid {
    grid-gap: 70px 30px;
  }

  .news-short__carousel {
    margin-left: 0;
  }
}