@charset "UTF-8";

@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaLight.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaBold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Helvetica/HelveticaHeavy.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

.h-100 {
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #002538;
  opacity: 0.9;
}

.cart-btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.cart-btn::after {
  content: "";
  width: 32px;
  height: 20px;
  background: url("../images/common/cart.svg") center no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.cart-btn:hover {
  color: #ffffff;
}

.btn {
  height: 50px;
  display: flex;
  width: max-content;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.btn_invert {
  background: transparent;
  border: 2px solid #289fdd;
  color: #002538;
}

.btn:hover {
  color: #ffffff;
  background: #289fdd;
  border: none;
}

.btn:active {
  color: #ffffff;
  background: #07689a;
  border: none;
}

.field {
  height: 45px;
  width: 100%;
  border: 1px solid #E5E7EA;
  padding: 0 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #393939;
}

.field::placeholder {
  color: rgba(119, 135, 154, 0.5);
}

.field:focus {
  outline: none;
  border: 1px solid #87BFDC;
}

.radio,
.checkbox {
  display: flex;
  flex-direction: column;
}

.radio__item:not(:last-child),
.checkbox__item:not(:last-child) {
  margin-bottom: 12px;
}

.radio__label,
.checkbox__label {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  cursor: pointer;
}

.radio__label::before,
.checkbox__label::before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 14px;
}

.radio__label::before {
  background: url("../images/common/radio-empty.svg") center no-repeat;
  background-size: contain;
}

.radio__input {
  display: none;
}

.radio__input:checked + .radio__label::before {
  background: url("../images/common/radio-active.svg") center no-repeat;
  background-size: contain;
}

.checkbox__label::before {
  background: url("../images/common/checkbox-empty.svg") center no-repeat;
  background-size: contain;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::before {
  background: url("../images/common/checkbox-active.svg") center no-repeat;
  background-size: contain;
}

.irs--flat {
  height: 47px;
}

.irs--flat .irs-line {
  top: 8px;
  height: 2px;
  background: #B8C9DD;
  opacity: .6;
}

.irs--flat .irs-bar {
  top: 8px;
  height: 2px;
  background: #289fdd;
}

.irs--flat .irs-handle {
  top: 0;
  width: 18px;
  height: 18px;
}

.irs--flat .irs-handle.state_hover > i:first-child {
  background: #289fdd;
}

.irs--flat .irs-handle > i:first-child {
  left: 0;
  width: 18px;
  height: 18px;
  background: #07689a;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.irs--flat .irs-handle > i:first-child:hover {
  background: #289fdd;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 26px;
  color: #77879a;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  background: 0;
  padding: 0;
}

.irs--flat .irs-min::after,
.irs--flat .irs-max::after {
  content: " ₽";
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.flickity-page-dots {
  bottom: -30px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.flickity-page-dots .dot {
  margin-left: 0;
  background: #289fdd;
  opacity: 0.4;
}

.flickity-page-dots .dot:not(:last-child) {
  margin-right: 18px;
}

.flickity-page-dots .dot.is-selected {
  background: #289fdd;
  width: 13px;
  height: 13px;
  opacity: 1;
}

.flickity-prev-next-button {
  width: 55px;
  height: 55px;
  border: 1px solid #E5E7EA;
}

.flickity-prev-next-button.previous {
  background: url("../images/common/arrow-dark-left.svg") center no-repeat, #ffffff;
}

.flickity-prev-next-button.previous:not(:disabled):hover {
  background: url("../images/common/arrow-light-left.svg") center no-repeat, linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  border: none;
}

.flickity-prev-next-button.previous:not(:disabled):active {
  opacity: 1;
  background: url("../images/common/arrow-light-left.svg") center no-repeat, #07689a;
  border: none;
}

.flickity-prev-next-button.next {
  background: url("../images/common/arrow-dark-right.svg") center no-repeat, #ffffff;
}

.flickity-prev-next-button.next:not(:disabled):hover {
  background: url("../images/common/arrow-light-right.svg") center no-repeat, linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  border: none;
}

.flickity-prev-next-button.next:not(:disabled):active {
  opacity: 1;
  background: url("../images/common/arrow-light-right.svg") center no-repeat, #07689a;
  border: none;
}

.flickity-prev-next-button:disabled {
  opacity: 0.4;
}

.flickity-prev-next-button .flickity-button-icon {
  display: none;
}

.banner {
  position: relative;
  height: 570px;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  overflow: hidden;
}

.banner__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 71px;
  color: #002538;
  opacity: 0.9;
  margin-top: 100px;
}

.banner__subtitle {
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  color: #000000;
  opacity: 0.8;
  margin-top: 30px;
}

.banner__image-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__sticker {
  position: absolute;
  top: -85px;
  right: -28px;
  padding: 130px 28px 0 0;
  width: 370px;
  height: 370px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background: #8B857A;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
}

.banner__button {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #289fdd;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.banner__button:hover {
  color: #ffffff;
}

.banner__button::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/banner/btn-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 15px;
}

.banner__link {
  position: relative;
  z-index: 2;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.banner__link:hover {
  color: #ffffff;
  text-decoration: none;
}

.section-card__image-wrap {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.section-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-card__name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  height: 70px;
  overflow: hidden;
  color: #002538;
  opacity: 0.9;
}

.section-card__description {
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #333333;
  opacity: 0.9;
}

.section-card__link {
  margin-top: 30px;
  display: flex;
  width: max-content;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #07689a;
}

.section-card__link::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/section-card/link-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 18px;
  transition: transform 150ms ease-in-out;
}

.section-card__link:hover {
  color: #07689a;
}

.section-card__link:hover::before {
  transform: translateX(10px);
}

.product-card__actions {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.5);
}

.product-card__image-wrapper {
  position: relative;
  height: 300px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(157, 157, 157, 0.2);
}

.product-card__image-wrapper:hover .product-card__actions {
  display: block;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-card__labels {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.product-card__label {
  display: flex;
  width: max-content;
  align-items: center;
  height: 30px;
  padding: 0 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.9;
}

.product-card__label:not(:last-child) {
  margin-bottom: 10px;
}

.product-card__label_sale {
  background: #BB9F12;
}

.product-card__label_new {
  background: #289fdd;
}

.product-card__label_best-price {
  background: #07689a;
}

.product-card__label_bestseller {
  background: #21B6B1;
}

.product-card__compare {
  position: absolute;
  top: 0;
  right: 0;
}

.product-card__cart {
  position: absolute;
  bottom: 70px;
  left: 30px;
  right: 30px;
}

.product-card__link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.product-card__link::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/product-card/link-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 15px;
  transition: transform 150ms ease-in-out;
}

.product-card__link:hover {
  color: #ffffff;
}

.product-card__link:hover::before {
  transform: translateX(7px);
}

.product-card__info {
  padding: 30px 5px 24px;
  border: 1px solid #F7F7F9;
  border-top: none;
}

.product-card__type {
  font-size: 16px;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  color: #575757;
  opacity: 0.9;
}

.product-card__name {
  margin-top: -7px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  color: #002538;
  opacity: 0.9;
}

.product-card__specs {
  margin-top: 4px;
  padding: 0 30px;
}

.product-card__spec {
  font-size: 13px;
  line-height: 18px;
  color: #77879a;
}

.product-card__warranty {
  margin-top: 9px;
  padding: 0 30px;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #77879a;
}

.product-card__prices {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.product-card__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #07689a;
  opacity: 0.9;
}

.product-card__old-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #9D9D9D;
  opacity: 0.9;
  text-decoration: line-through;
}

.offer {
  margin-top: 60px;
}

.offer__image-wrap {
  position: relative;
  min-height: 388px;
}

.offer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.offer__content {
  border-top: 1px solid rgba(40, 159, 221, 0.3);
  display: flex;
  flex-direction: column;
}

.offer__text {
  padding: 74px 0 70px 65px;
  font-size: 20px;
  line-height: 31px;
  color: #002538;
  opacity: 0.9;
  max-width: 721px;
}

.offer__title {
  margin-bottom: 39px;
}

.offer__link {
  position: relative;
  display: flex;
  margin-top: auto;
  height: 80px;
  align-items: center;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 65px;
}

.offer__link::before {
  content: "";
  width: 36px;
  height: 12px;
  background: url("../images/offer/link-arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 15px;
  transition: transform 150ms ease-in-out;
}

.offer__link:hover {
  color: #ffffff;
}

.offer__link:hover::before {
  transform: translateX(7px);
}

.advantage {
  display: flex;
  align-items: start;
}

.advantage__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border: 3px solid #289fdd;
  margin-right: 15px;
}

.advantage__icon {
  max-width: 50px;
  max-height: 50px;
}

.advantage__content {
  margin-top: 8px;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #575757;
}

.advantage__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #002538;
  min-height: 62px;
  margin-bottom: 15px;
}

.news-card {
  display: flex;
}

.news-card_big {
  flex-direction: column;
}

.news-card__video {
  margin-bottom: 20px;
}

.news-card__image-wrap {
  flex-shrink: 0;
  width: 200px;
  height: 160px;
  margin-right: 15px;
}

.news-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-card__content {
  display: flex;
  flex-direction: column;
}

.news-card__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #2B2A29;
}

.news-card__caption {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #575757;
}

.news-card__date {
  margin-top: auto;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: rgba(43, 42, 41, 0.4);
}

.news-card__date::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../images/news-card/clock.svg") center no-repeat;
  background-size: contain;
  transform: translateY(-1px);
  margin-right: 6px;
}

.news-card_big .news-card__caption {
  margin-top: 20px;
  font-size: 20px;
  line-height: 31px;
}

.review {
  margin-left: auto;
  margin-right: auto;
  max-width: 754px;
  text-align: center;
}

.review__title {
  font-size: 25px;
  line-height: 31px;
  font-weight: 700;
  color: #333333;
}

.review__text {
  margin-top: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #666575;
}

.top-menu {
  display: flex;
}

.top-menu__item {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 13px;
  line-height: 16px;
  color: #575757;
  padding: 0 20px;
}

.top-menu__item:hover,
.top-menu__item_active {
  background: #D8F2FF;
  color: #333333;
}

.small-cart {
  display: flex;
  align-items: start;
}

.small-cart__icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.small-cart__content {
  margin-top: 2px;
  position: relative;
}

.small-cart__title {
  font-size: 13px;
  line-height: 16px;
  color: #333333;
}

.small-cart__count {
  position: absolute;
  top: 18px;
  color: #666666;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.compare-small {
  position: relative;
  display: flex;
}

.compare-small__badge {
  position: absolute;
  top: -12px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2DE6D;
  font-size: 11px;
  line-height: 11px;
  color: #000000;
}

.menu {
  display: flex;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

.menu__item:hover,
.menu__item_active {
  background: #289fdd;
  color: #ffffff;
}

.menu__item_catalog {
  margin-right: auto;
  background: #F2DE6D;
  box-shadow: 0 0 10px rgba(74, 74, 74, 0.2);
}

.menu__item_catalog:hover,
.menu__item_catalog_active {
  background: #F2DE6D;
  color: #333333;
  box-shadow: none;
}

.menu__item_catalog::before {
  content: "";
  width: 17px;
  height: 13px;
  background: url("../images/menu/burger.svg") center no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.menu__item_catalog:active {
  box-shadow: inset 0 0 10px rgba(74, 74, 74, 0.2);
}

.catalog-menu {
  display: none;
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 0;
  right: 0;
}

.catalog-menu_active {
  display: block;
}

.catalog-menu__content {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

.catalog-menu__content::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -38px;
  right: -38px;
  background: #EFFAFF;
  box-shadow: 0 4px 10px rgba(7, 104, 154, 0.1);
  z-index: -1;
}

.catalog-menu__categories {
  padding: 20px 20px 25px 0;
  border-right: 1px solid #D8F2FF;
  display: flex;
  flex-direction: column;
}

.catalog-menu__category:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-menu__right {
  display: none;
  flex-direction: column;
  margin-top: 37px;
  padding-bottom: 32px;
}

.catalog-menu__right_active {
  display: flex;
}

.catalog-menu__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 65px;
}

.catalog-menu__banner-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.catalog-menu__banner {
  max-width: 100%;
}

.catalog-menu__articles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catalog-menu__article {
  font-size: 15px;
  line-height: 15px;
  color: #333333;
  font-weight: 700;
}

.catalog-menu__article:not(:last-child) {
  margin-bottom: 10px;
}

.catalog-menu__partners {
  margin-top: auto;
}

.menu-category {
  display: flex;
  align-items: start;
}

.menu-category__icon {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-shrink: 0;
}

.menu-category__text {
  margin-top: 6px;
  font-size: 16px;
  line-height: 21px;
  color: #002538;
}

.menu-category:hover .menu-category__text {
  color: #07689a;
  text-decoration: underline;
}

.menu-subcategory__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #002538;
}

.menu-subcategory__links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.menu-subcategory__link {
  font-size: 13px;
  line-height: 15px;
  color: #575757;
  display: flex;
  width: max-content;
}

.menu-subcategory__link:not(:last-child) {
  margin-bottom: 10px;
}

.menu-subcategory__link:hover {
  text-decoration: underline;
  color: #07689a;
}

.manufacturers-small__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #002538;
}

.manufacturers-small__carousel {
  margin: 30px 65px 0;
}

.manufacturers-small__item {
  width: 33.333%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.manufacturers-small__logo {
  max-width: 100%;
  max-height: 100%;
}

.manufacturers-small .flickity-prev-next-button.previous {
  left: -65px;
}

.manufacturers-small .flickity-prev-next-button.next {
  right: -65px;
}

.footer-menu {
  color: #ffffff;
}

.footer-menu__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
}

.footer-menu__links {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.footer-menu__link {
  display: flex;
  width: max-content;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  opacity: .6;
}

.footer-menu__link:not(:last-child) {
  margin-bottom: 12px;
}

.footer-menu__link:hover {
  opacity: 1;
}

.breadcrumbs {
  display: flex;
  color: #77879a;
  font-size: 13px;
  line-height: 20px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin-left: 7px;
}

.breadcrumbs__link {
  text-decoration: underline;
}

.sort {
  display: flex;
  align-items: center;
}

.sort__title {
  font-size: 13px;
  line-height: 18px;
  color: #002538;
  margin-right: 23px;
}

.sort__items {
  display: flex;
  align-items: center;
}

.sort__item {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: #728194;
}

.sort__item:not(:last-child) {
  margin-right: 20px;
}

.sort__item::after {
  content: "";
  display: flex;
  width: 7px;
  height: 11px;
  background: url("../images/sort/arrow.svg") center no-repeat;
  background-size: contain;
  margin-left: 16px;
}

.sort__item_active,
.sort__item:hover {
  color: #07689a;
}

.sort__item_active::after,
.sort__item:hover::after {
  background: url("../images/sort/arrow-blue.svg") center no-repeat;
  background-size: contain;
}

.sort__item_desc::after {
  transform: rotate(180deg);
}

.per-page {
  display: flex;
  align-items: center;
}

.per-page__title {
  font-size: 13px;
  line-height: 18px;
  color: #002538;
  margin-right: 22px;
}

.per-page__items {
  display: flex;
  align-items: center;
}

.per-page__item {
  display: flex;
  font-size: 13px;
  line-height: 18px;
  color: #728194;
}

.per-page__item:not(:last-child) {
  margin-right: 18px;
}

.per-page__item_active,
.per-page__item:hover {
  color: #07689a;
}

.filter {
  background: #F7F7F9;
  padding: 25px 0 50px;
}

.filter__help {
  margin: 0 20px 33px;
  width: calc(100% - 40px);
}

.filter__collapse {
  border-top: 1px solid #DFDFDF;
  padding: 0 20px;
}

.filter__collapse:last-child {
  border-bottom: 1px solid #DFDFDF;
}

.filter__collapse-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding-right: 30px;
  font-size: 15px;
  line-height: 21px;
  color: #002538;
}

.filter__collapse-header:hover {
  color: #002538;
}

.filter__collapse-header::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 8px;
  background: url("../images/filter/angle-up.svg") no-repeat center;
  background-size: contain;
}

.filter__collapse-header.collapsed::after {
  background: url("../images/filter/angle-down.svg") no-repeat center;
  background-size: contain;
}

.filter__collapse-content {
  padding: 5px 0 20px;
}

.filter__sections {
  display: flex;
  flex-direction: column;
}

.filter__section {
  font-size: 13px;
  line-height: 18px;
  color: #333333;
}

.filter__section:not(:last-child) {
  margin-bottom: 15px;
}

.filter__input-group:not(:last-child) {
  margin-bottom: 20px;
}

.filter__fields {
  display: flex;
  margin-left: -7px;
  margin-right: -7px;
}

.filter__field {
  margin-left: 7px;
  margin-right: 7px;
  width: 100%;
}

.filter__controls {
  margin-top: 29px;
  padding: 0 20px;
}

.filter__control {
  width: 100%;
}

.filter__control:not(:last-child) {
  margin-bottom: 20px;
}

.pagination__load {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 2px solid #289fdd;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #002538;
}

.pagination__load:hover {
  color: #002538;
}

.pagination__load:hover::before {
  transform: rotate(360deg);
}

.pagination__load::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/pagination/load.svg") no-repeat center;
  background-size: contain;
  margin-right: 10px;
  transform: rotate(0);
  transition: transform 400ms ease-in-out;
}

.pagination__pages {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #77879a;
}

.pagination__page_active,
.pagination__page:hover:not(.pagination__page_space) {
  color: #ffffff;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
}

.header {
  position: relative;
  z-index: 2;
}

.header__top {
  height: 40px;
  box-shadow: 0 5px 20px rgba(7, 104, 154, 0.1);
  background: #F7F7F9;
}

.header__region {
  display: flex;
  width: max-content;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #333333;
}

.header__region:hover {
  color: #333333;
  text-decoration: none;
}

.header__region::before {
  content: "";
  width: 9px;
  height: 12px;
  background: url("../images/header/pin.svg") center no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.header__middle {
  height: 110px;
  display: flex;
  align-items: center;
}

.header__logo {
  max-width: 100%;
}

.header__search-wrap {
  position: relative;
}

.header__search {
  background: #F8F8F8;
  border: 1px solid #E2E2E2;
  padding-right: 40px;
}

.header__search::placeholder {
  color: #666666;
}

.header__search-btn {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__city {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #666666;
}

.header__phone {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-weight: 500;
}

.header__phone::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 10px;
  background: url("../images/header/phone.svg") no-repeat center;
  background-size: contain;
}

.header__callback {
  display: flex;
  margin-top: 3px;
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #07689a;
}

.header__callback:hover {
  color: #07689a;
}

.header__shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__bottom {
  background: #D8F2FF;
  height: 50px;
}

.heading {
  margin-top: 42px;
  margin-bottom: 40px;
}

.heading__title {
  margin-top: 20px;
}

.banners {
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.banners__slide {
  width: 100%;
}

.banners .flickity-page-dots {
  bottom: 33px;
  transform: unset;
  left: calc(50% + 30px);
}

.banners .flickity-page-dots .dot {
  background: #D8F2FF;
  opacity: .7;
}

.banners .flickity-page-dots .dot.is-selected {
  background: #289fdd;
  opacity: 1;
}

.sections {
  margin-top: 120px;
}

.sections__title {
  text-align: center;
  margin-bottom: 70px;
}

.sections__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px 100px;
}

.section__count {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: #002538;
}

.section__count-number {
  margin-left: 15px;
  color: #77879A;
}

.section__controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__grid {
  margin-top: 42px;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(3, 1fr);
}

.section__pagination {
  margin-top: 50px;
}

.section__description {
  margin-top: 100px;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #333333;
}

.products-carousel {
  margin-top: 100px;
}

.products-carousel__carousel {
  margin-top: 60px;
}

.products-carousel__item {
  width: 260px;
  margin-right: 30px;
}

.advantages {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.news-short {
  margin-top: 100px;
}

.news-short__content {
  margin-top: 60px;
}

.news-short__carousel {
  margin-left: 50px;
}

.news-short__slide {
  width: 100%;
}

.news-short__card:not(:last-child) {
  margin-bottom: 33px;
}

.news-short .flickity-page-dots {
  left: 0;
  transform: unset;
}

.reviews {
  margin-top: 105px;
  background: rgba(216, 242, 255, 0.4);
}

.reviews__content {
  position: relative;
  padding: 112px 0 182px;
}

.reviews__content::before,
.reviews__content::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 50px;
  background: url("../images/reviews/quote-up.svg") center no-repeat;
  background-size: contain;
}

.reviews__content::before {
  top: -5px;
  left: 0;
}

.reviews__content::after {
  bottom: -5px;
  right: 0;
  transform: rotate(180deg);
}

.reviews__title {
  text-align: center;
}

.reviews__btn {
  margin-left: auto;
}

.reviews__portraits {
  margin-top: 68px;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__portrait {
  margin-right: 15px;
  width: 120px;
  height: 120px;
  transition: transform 150ms ease-in-out;
}

.reviews__portrait:not(.is-selected) {
  opacity: .5;
  transform: scale(0.84);
}

.reviews__portrait-image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.reviews__carousel {
  margin-top: 52px;
}

.reviews__carousel .flickity-page-dots {
  margin-bottom: -80px;
}

.reviews__carousel .flickity-prev-next-button {
  top: -25px;
}

.reviews__item {
  width: 100%;
  margin-right: 15px;
}

.manufacturers {
  margin-top: 105px;
}

.manufacturers__carousel {
  margin-top: 50px;
}

.manufacturers__item {
  width: 25%;
  height: 100px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manufacturers__logo {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  margin-top: 120px;
  background: linear-gradient(90deg, #289FDD 0%, #07689A 100%);
}

.footer__container {
  position: relative;
}

.footer__top {
  padding-top: 50px;
  padding-bottom: 35px;
}

.footer__socials {
  position: absolute;
  display: flex;
  top: 0;
  right: 0.75rem;
}

.footer__social {
  display: flex;
}

.footer__social:not(:last-child) {
  margin-right: 5px;
}

.footer__contacts {
  margin-top: 55px;
}

.footer__city {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #D0EFFF;
}

.footer__city::before {
  content: "";
  width: 12px;
  height: 17px;
  background: url("../images/footer/pin.svg") no-repeat center;
  background-size: contain;
  margin-right: 14px;
}

.footer__phone-wrap {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: flex-end;
}

.footer__phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer__phone:hover {
  color: #ffffff;
}

.footer__phone::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/footer/phone.svg") no-repeat center;
  background-size: contain;
  margin-right: 10px;
}

.footer__callback {
  margin-top: 3px;
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #D8F2FF;
}

.footer__callback:hover {
  text-decoration: none;
  color: #D8F2FF;
}

.footer__bottom {
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #D8F2FF;
  opacity: .8;
  font-size: 14px;
  line-height: 17px;
}

.footer__bottom::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  top: 0;
  left: -50vw;
  right: -50vw;
  background: #D8F2FF;
  opacity: 0.4;
}

.footer__dev {
  display: flex;
  align-items: center;
}

.footer__dev-link {
  display: flex;
  margin-left: 11px;
}

.footer__link {
  text-decoration: underline;
}

@media screen and (max-width: 1399.98px) {
  .sections__grid {
    grid-gap: 70px 30px;
  }

  .news-short__carousel {
    margin-left: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}