.small-cart {

  display: flex;
  align-items: start;

  &__icon {
    flex-shrink: 0;
    margin-right: 8px;
  }

  &__content {
    margin-top: 2px;
    position: relative;
  }

  &__title {
    font-size: 13px;
    line-height: 16px;
    color: $gray;
  }

  &__count {
    position: absolute;
    top: 18px;
    color: #666666;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
  }

}