.catalog-menu {

  display: none;
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 0;
  right: 0;

  &_active {
    display: block;
  }

  &__content {

    position: relative;
    z-index: 1;
    padding-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -38px;
      right: -38px;
      background: #EFFAFF;
      box-shadow: 0 4px 10px rgba(7, 104, 154, 0.1);
      z-index: -1;
    }

  }

  &__categories {
    padding: 20px 20px 25px 0;
    border-right: 1px solid $light-blue;
    display: flex;
    flex-direction: column;
  }

  &__category {

    &:not(:last-child) {
      margin-bottom: 15px;
    }

  }

  &__right {

    display: none;
    flex-direction: column;
    margin-top: 37px;
    padding-bottom: 32px;

    &_active {
      display: flex;
    }

  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 65px;
  }

  &__banner-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__banner {
    max-width: 100%;
  }

  &__articles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__article {

    font-size: 15px;
    line-height: 15px;
    color: $gray;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

  }

  &__partners {
    margin-top: auto;
  }

}