.legal-info {

  margin-top: 100px;

  @include laptop {
    margin-top: 80px;
  }

  &__row {

    margin-top: 40px;
    margin-bottom: -30px;

    @include laptop {
      margin-top: 20px;
    }

  }

  &__block {

    position: relative;
    padding-left: 34px;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 31px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_location {

      &::before {
        background-image: url("../images/legal-info/pin.svg");
      }

    }

    &_phone {

      &::before {
        background-image: url("../images/legal-info/phone.svg");
      }

    }

    &_name {

      &::before {
        background-image: url("../images/legal-info/bag.svg");
      }

    }

    &_bank {

      &::before {
        background-image: url("../images/legal-info/bank.svg");
      }

    }

  }

  &__text {

    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    color: $gray;

    @include laptop {
      font-size: 16px;
      line-height: 21px;
    }

    &_bold {

      font-weight: 500;

      @include laptop {
        line-height: 31px;
      }

    }

  }

  &__bank-line {

    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #E4E4E4;

    @include phone {
      flex-direction: column;
      border-bottom: none;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    div {
      background: $white;
      transform: translateY(1px);
      line-height: 27px !important;
    }

  }

}