.manufacturers-small {

  &__title {

    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: $title;

    @include tablet {
      text-align: center;
    }

  }

  &__carousel {

    margin: 30px 65px 0;

    @include tablet {
      margin: 30px 0 0;
    }

  }

  &__item {
    width: 33.333%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    @include laptop {
      width: 100%;
    }

  }

  &__logo {
    max-width: 100%;
    max-height: 100%;
  }

  .flickity-prev-next-button {

    @include tablet-min {

      &.previous {
        left: -65px;
      }

      &.next {
        right: -65px;
      }

    }

  }

}