.menu {

  display: flex;

  &__item {

    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $gray;
    text-transform: uppercase;

    @include laptop {
      padding: 0 20px;
    }

    &:hover, &_active {
      background: $blue;
      color: $white;
    }

    &_catalog {

      margin-right: auto;
      background: #F2DE6D;
      box-shadow: 0 0 10px rgba(74, 74, 74, 0.2);

      &:hover, &_active {
        background: #F2DE6D;
        color: $gray;
        box-shadow: none;
      }

      &::before {
        content: "";
        width: 17px;
        height: 13px;
        background: url("../images/menu/burger.svg") center no-repeat;
        background-size: contain;
        margin-right: 10px;
      }

      &:active {
        box-shadow: inset 0 0 10px rgba(74, 74, 74, 0.2);
      }

    }

  }

}