.modal {

  width: 765px;
  background: #EFFAFF;
  padding: 50px;
  display: none;

  @include phone {
    padding: 40px 14px 50px;
  }

  &_callback {

    overflow: visible;

    &::after {

      content: "";
      position: absolute;
      right: -70px;
      bottom: 0;
      width: 362px;
      height: 301px;
      background: url("../images/modal/girl-right.png") bottom no-repeat;
      background-size: contain;

      @include laptop {
        display: none;
      }

    }

  }

  &_ok {
    padding-right: 134px;
  }

  &_cart {

    padding: 25px 30px;

    @include laptop {
      padding: 64px 30px 50px;
    }

    @include phone {
      padding: 64px 14px 50px;
    }

    .modal {

      &__inner {

        display: flex;
        align-items: center;

        @include phone {
          max-width: 290px;
          margin-left: auto;
          margin-right: auto;
        }

      }

      &__image {

        max-width: 100%;
        margin-right: 48px;

        @include laptop {
          display: none;
        }

      }

      &__title, &__text {

        @include phone {
          text-align: center;
        }

      }

    }

  }

  &_order {

    overflow: visible;
    padding: 68px 32px 80px 350px;

    @include laptop {
      padding: 64px 30px 50px;
    }

    @include phone {
      padding: 64px 14px 50px;
    }

    &::before {

      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 299px;
      height: 392px;
      background: url("../images/modal/girl-like.png") bottom left no-repeat;
      background-size: contain;

      @include laptop {
        display: none;
      }

    }

  }

  &__form {
    margin-top: 20px;
    max-width: 340px;
  }

  &__field {

    &:not(:last-child) {
      margin-bottom: 25px;
    }

  }

  &__agreement {
    font-size: 13px;
    line-height: 18px;
    color: #8B857A;
    opacity: 0.78;
    margin-top: 10px;
  }

  &__submit {
    margin-top: 20px;
    width: 100%;
    text-transform: unset;
  }

  &__buttons {

    display: flex;
    margin-top: 35px;

    @include phone {
      flex-direction: column;
    }

  }

  &__button {

    @include phone {
      width: 100%;
    }

    &:not(:last-child) {

      margin-right: 30px;

      @include phone {
        margin-right: 0;
        margin-bottom: 20px;
      }

    }

  }

  &__link {

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: $dark-blue;
    display: flex;
    align-items: center;

    &:hover {
      color: $dark-blue;
    }

    &::before {
      content: "";
      width: 36px;
      height: 12px;
      background: url("../images/modal/arrow.svg") center no-repeat;
      background-size: contain;
      margin-right: 18px;
    }

  }

  &__ok {

    display: block;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      margin-top: 30px;
    }

  }

}