.section-card {

  &__image-wrap {
    width: 100%;
    height: 450px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    margin-top: 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    height: 70px;
    overflow: hidden;
    color: $title;
    opacity: 0.9;
  }

  &__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    color: $gray;
    opacity: 0.9;
  }

  &__link {

    margin-top: 30px;
    display: flex;
    width: max-content;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: $dark-blue;

    &::before {
      content: "";
      width: 36px;
      height: 12px;
      background: url("../images/section-card/link-arrow.svg") no-repeat center;
      background-size: contain;
      margin-right: 18px;
      transition: transform 150ms ease-in-out;
    }

    &:hover {

      color: $dark-blue;

      &::before {
        transform: translateX(10px);
      }

    }

  }

}