<div class="accordion" id="guarantee-accordion">
    <div class="accordion__item">
        <a href="javascript:void(0)" class="accordion__btn" type="button" data-bs-toggle="collapse"
           data-bs-target="#guarantee-collapse-1" aria-expanded="true">
            В каких случаях вы теряете право на обслуживание?
        </a>
        <div id="guarantee-collapse-1" class="accordion-collapse collapse show" data-bs-parent="#guarantee-accordion">
            <div class="accordion__body">
                <div class="accordion__title">
                    Право на гарантийное обслуживание утрачивается при наличии одного или нескольких обстоятельств:
                </div>
                <ul class="accordion__list">
                    <li>
                        Не принимается к гарантийному обслуживанию изделие, имеющее следы ремонта или вскрытия
                        без отметки о проведенном ремонте в гарантийном талоне, либо попытки ремонта или
                        наладки продукции неуполномоченными на то лицами;
                    </li>
                    <li>
                        При отсутствии штампа, даты продажи и контактной информации уполномоченного лица,
                        совершавшего продажу;
                    </li>
                    <li>
                        При наличии исправлений в гарантийном талоне, несоответствие наименования модели,
                        указанной в гарантийном талоне;
                    </li>
                    <li>Неправильным подключением к электросети и водопроводу (см. инструкцию, аннотацию);</li>
                    <li>Естественный износ частей, имеющих ограниченный срок службы, также расходных материалов;</li>
                    <li>На предохранители плавкие, световые лампы накаливания;</li>
                    <li>На использование покупателем Изделия с целью извлечения дохода (прибыли);</li>
                    <li>
                        Нарушения правил эксплуатации Изделия, а именно:
                        <ul>
                            <li>
                                - Если Изделие имеет следы постороннего вмешательства Покупателем в конструкцию
                                (например, вырезы и выпелы, не предусмотренные производителем, и пр.) или попытки
                                самостоятельного ремонта;
                            </li>
                            <li>- Если обнаружены несанкционированные изменения в конструкции Изделия;</li>
                            <li>- Наличия механических повреждений (внешних и внутренних);</li>
                            <li>
                                - На повреждения, вызванные стихийными бедствиями (пожар, наводнение, гроза,
                                землетрясение и т.п.);
                            </li>
                            <li>
                                - Если обнаружены следы хранения внутри Изделия мокрых и влажных вещей, а также
                                расслоение, растрескивание и разбухание фасадных деталей и частей корпуса вследствие
                                прямого попадания на них воды (!!! В случае попадания воды на поверхность или внутрь
                                Изделие необходимо незамедлительно протереть мягкой сухой тканью);
                            </li>
                            <li>
                                - Неисправностей, вызванных попаданием внутрь посторонних предметов, насекомых,
                                животных, едких жидкостей и т.п.;
                            </li>
                            <li>
                                - На Изделия или части Изделия, неисправности которых вызваны транспортными
                                повреждениями при перевозке за счет собственных сил либо за счет наемного транспорта;
                            </li>
                            <li>
                                - Перепады давления в водопроводных сетях, повышенным содержанием примесей, отсутствием
                                фильтров очистки воды, перепады напряжения в электросети;
                            </li>
                            <li>
                                - На дефекты, возникшие в результате использования чистящих абразивных средств и
                                осаждения камня;
                            </li>
                            <li>
                                - На царапины, трещины, сколы и аналогичные механические внешние повреждения, возникшие
                                в процессе эксплуатации, а также умышленные или неосторожные действия потребителя или
                                третьих лиц!
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion__item">
        <a href="javascript:void(0)" class="accordion__btn collapsed" type="button" data-bs-toggle="collapse"
           data-bs-target="#guarantee-collapse-2" aria-expanded="false">
            Гарантийный сервис
        </a>
        <div id="guarantee-collapse-2" class="accordion-collapse collapse" data-bs-parent="#guarantee-accordion">
            <div class="accordion__body">
                <div class="accordion__title">
                    Право на гарантийное обслуживание утрачивается при наличии одного или нескольких обстоятельств:
                </div>
                <ul class="accordion__list">
                    <li>
                        Не принимается к гарантийному обслуживанию изделие, имеющее следы ремонта или вскрытия
                        без отметки о проведенном ремонте в гарантийном талоне, либо попытки ремонта или
                        наладки продукции неуполномоченными на то лицами;
                    </li>
                    <li>
                        При отсутствии штампа, даты продажи и контактной информации уполномоченного лица,
                        совершавшего продажу;
                    </li>
                    <li>
                        При наличии исправлений в гарантийном талоне, несоответствие наименования модели,
                        указанной в гарантийном талоне;
                    </li>
                    <li>Неправильным подключением к электросети и водопроводу (см. инструкцию, аннотацию);</li>
                    <li>Естественный износ частей, имеющих ограниченный срок службы, также расходных материалов;</li>
                    <li>На предохранители плавкие, световые лампы накаливания;</li>
                    <li>На использование покупателем Изделия с целью извлечения дохода (прибыли);</li>
                    <li>
                        Нарушения правил эксплуатации Изделия, а именно:
                        <ul>
                            <li>
                                - Если Изделие имеет следы постороннего вмешательства Покупателем в конструкцию
                                (например, вырезы и выпелы, не предусмотренные производителем, и пр.) или попытки
                                самостоятельного ремонта;
                            </li>
                            <li>- Если обнаружены несанкционированные изменения в конструкции Изделия;</li>
                            <li>- Наличия механических повреждений (внешних и внутренних);</li>
                            <li>
                                - На повреждения, вызванные стихийными бедствиями (пожар, наводнение, гроза,
                                землетрясение и т.п.);
                            </li>
                            <li>
                                - Если обнаружены следы хранения внутри Изделия мокрых и влажных вещей, а также
                                расслоение, растрескивание и разбухание фасадных деталей и частей корпуса вследствие
                                прямого попадания на них воды (!!! В случае попадания воды на поверхность или внутрь
                                Изделие необходимо незамедлительно протереть мягкой сухой тканью);
                            </li>
                            <li>
                                - Неисправностей, вызванных попаданием внутрь посторонних предметов, насекомых,
                                животных, едких жидкостей и т.п.;
                            </li>
                            <li>
                                - На Изделия или части Изделия, неисправности которых вызваны транспортными
                                повреждениями при перевозке за счет собственных сил либо за счет наемного транспорта;
                            </li>
                            <li>
                                - Перепады давления в водопроводных сетях, повышенным содержанием примесей, отсутствием
                                фильтров очистки воды, перепады напряжения в электросети;
                            </li>
                            <li>
                                - На дефекты, возникшие в результате использования чистящих абразивных средств и
                                осаждения камня;
                            </li>
                            <li>
                                - На царапины, трещины, сколы и аналогичные механические внешние повреждения, возникшие
                                в процессе эксплуатации, а также умышленные или неосторожные действия потребителя или
                                третьих лиц!
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>