<div class="appeal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/appeal/photo.jpg" class="appeal__photo" alt="">
                <div class="appeal__position">Директор сети салонов сантехники “Ванна Центр”</div>
                <div class="appeal__name">Благородная Эльвира Эдуардовна</div>
            </div>
            <div class="appeal__text col-lg-8">
                <div class="appeal__title title title_small">Обращение директора сети</div>
                <div class="paragraph">
                    Я - владелец сети магаинов “Ванна Центр”. Первый магаин открыла с мужем в 2000 году, тогда
                    еще это был маленький отдел, в котором продавались комплектующие для сантехники.
                    Главными принципами в отношениях с деловыми партнерами и клиентами всегда были честность
                    и порядочность.<br>
                    <br>
                    Со временем отдел превратился в магазин, а затем в сеть магазинов.<br>
                    Хорошая репутация и многолетний положительный опыт привели к тому, что несколько ведущих
                    европейских производителей сантехники выбрали “Ванна Центр” своим официальным представителем
                    в Красноярске.
                </div>
                <a href="#" class="appeal__btn btn">Написать директору</a>
            </div>
        </div>
    </div>
</div>