<div class="availability">
    <div class="availability__count">
        В наличии: <span class="availability__number">12 шт.</span>
    </div>
    <div class="availability__shops dropdown dropdown_shops">
        <a class="dropdown__input dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            В 5 магазинах
        </a>
        <ul class="dropdown__list dropdown-menu">
            <li class="dropdown__item">
                Водопьянова 22
                <div class="availability__balance availability__balance_many">Много</div>
            </li>
            <li class="dropdown__item">
                Водопьянова 22
                <div class="availability__balance availability__balance_in-stock">В наличии</div>
            </li>
            <li class="dropdown__item">
                Водопьянова 22
                <div class="availability__balance availability__balance_low">Мало</div>
            </li>
            <li class="dropdown__item">
                Водопьянова 22
                <div class="availability__balance availability__balance_empty">Под заказ</div>
            </li>
        </ul>
    </div>
</div>