<div class="cart-item">
    <div class="cart-item__image-wrap">
        <a href="#">
            <img src="images/cart-item/photo.jpg" class="cart-item__image" alt="">
        </a>
    </div>
    <div class="cart-item__right">
        <div class="cart-item__top">
            <div class="cart-item__heading">
                <div class="cart-item__title"><a href="#">Ванна Акриловая Riho Miami</a></div>
                <div class="cart-item__description">Ванна Акриловая Riho Miami</div>
            </div>
            <a href="javascript:void(0)" class="cart-item__delete">
                <img src="images/cart-item/trash.svg" alt="">
            </a>
        </div>
        <div class="cart-item__bottom">
            <div class="count-selector">
                <a href="javascript:void(0)" class="count-selector__btn">
                    <img src="images/cart-item/minus.svg" alt="">
                </a>
                <input type="text" class="count-selector__input" value="2">
                <a href="javascript:void(0)" class="count-selector__btn">
                    <img src="images/cart-item/plus.svg" alt="">
                </a>
            </div>
            <div class="cart-item__prices">
                <div class="cart-item__price-old">76 150 ₽</div>
                <div class="cart-item__price">60 920 ₽</div>
            </div>
        </div>
    </div>
</div>