<div class="cart-total">
    <div class="cart-total__title">Итого</div>
    <div class="cart-total__lines">
        <div class="cart-total__line">
            <div class="cart-total__caption">Общая сумма</div>
            <div class="cart-total__price">120 567 ₽</div>
        </div>
        <div class="cart-total__line">
            <div class="cart-total__caption">Сумма скидки</div>
            <div class="cart-total__price">-25 678 ₽</div>
        </div>
        <div class="cart-total__line cart-total__line_sum">
            <div class="cart-total__caption">Итоговая сумма</div>
            <div class="cart-total__price">94 889 ₽</div>
        </div>
    </div>
    <a href="javascript:void(0)" class="cart-total__btn btn">Оформить заказ</a>
</div>