<div class="delivery-benefits">
    <div class="delivery-benefits__item">
        <div class="delivery-benefits__image-wrap">
            <img class="delivery-benefits__image" src="images/delivery-benefits/plane.jpg" alt="">
        </div>
        <div class="delivery-benefits__title">Доставка по<br>России</div>
        <a href="#" class="delivery-benefits__link">подробнее</a>
    </div>
    <div class="delivery-benefits__item">
        <div class="delivery-benefits__image-wrap">
            <img class="delivery-benefits__image" src="images/delivery-benefits/truck.jpg" alt="">
        </div>
        <div class="delivery-benefits__title">Доставка по<br>Красноярскому краю</div>
        <a href="#" class="delivery-benefits__link">подробнее</a>
    </div>
    <div class="delivery-benefits__item">
        <div class="delivery-benefits__image-wrap">
            <img class="delivery-benefits__image" src="images/delivery-benefits/van-white.jpg" alt="">
        </div>
        <div class="delivery-benefits__title">Доставка по<br>Красноярску</div>
        <a href="#" class="delivery-benefits__link">подробнее</a>
    </div>
    <div class="delivery-benefits__item">
        <div class="delivery-benefits__image-wrap">
            <img class="delivery-benefits__image" src="images/delivery-benefits/van-yellow.jpg" alt="">
        </div>
        <div class="delivery-benefits__title">Доставка по<br>Абакану</div>
        <a href="#" class="delivery-benefits__link">подробнее</a>
    </div>
</div>