<div class="delivery-stages">
    <div class="delivery-stages__title">Как сделать заказ?</div>
    <div class="delivery-stages__items">
        <div class="delivery-stages__item">
            <div class="delivery-stages__item-inner">
                <div class="delivery-stages__icon-wrap">
                    <img src="images/delivery-stages/order.svg" alt="">
                </div>
                <div class="delivery-stages__dot"></div>
                <div class="delivery-stages__text">
                    <div class="delivery-stages__name">Выбор и заказ товара на сайте</div>
                </div>
            </div>
        </div>
        <div class="delivery-stages__item">
            <div class="delivery-stages__item-inner">
                <div class="delivery-stages__icon-wrap">
                    <img src="images/delivery-stages/consultation.svg" alt="">
                </div>
                <div class="delivery-stages__dot"></div>
                <div class="delivery-stages__text">
                    <div class="delivery-stages__name">Консультация</div>
                    <div class="delivery-stages__description">
                        Для консультации свяжитесь с нашими менеджерами
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery-stages__item">
            <div class="delivery-stages__item-inner">
                <div class="delivery-stages__icon-wrap">
                    <img src="images/delivery-stages/delivery.svg" alt="">
                </div>
                <div class="delivery-stages__dot"></div>
                <div class="delivery-stages__text">
                    <div class="delivery-stages__name">Доставка</div>
                    <div class="delivery-stages__service">
                        Самовывоз
                        <div class="delivery-stages__service-caption">Ежедневно с 10 до 19</div>
                    </div>
                    <div class="delivery-stages__service">
                        Доставка по РФ
                        <div class="delivery-stages__service-caption">От 1 до 5 рабочих дней</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery-stages__item">
            <div class="delivery-stages__item-inner">
                <div class="delivery-stages__icon-wrap">
                    <img src="images/delivery-stages/payment.svg" alt="">
                </div>
                <div class="delivery-stages__dot"></div>
                <div class="delivery-stages__text">
                    <div class="delivery-stages__name">Оплата</div>
                    <div class="delivery-stages__description">
                        Подробную информацию смотрите на странице <a href="#">оплата</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery-stages__item">
            <div class="delivery-stages__item-inner">
                <div class="delivery-stages__icon-wrap">
                    <img src="images/delivery-stages/installation.svg" alt="">
                </div>
                <div class="delivery-stages__dot"></div>
                <div class="delivery-stages__text">
                    <div class="delivery-stages__name">Монтаж</div>
                    <div class="delivery-stages__description">
                        Подробную информацию смотрите на странице <a href="#">монтаж</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>