<div class="delivery-table">
    <h2 class="title title_small">@@title</h2>
    <div class="delivery-table__categories">
        <div class="delivery-table__category">
            <div class="delivery-table__name">Стоимость доставки до подъезда</div>
            <div class="delivery-table__wrap">
                <table class="delivery-table__table">
                    <thead>
                    <tr>
                        <td>Зона доставки:</td>
                        <td>Стоимость:</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Красноярск</td>
                        <td>500 руб. (бесплатно при заказе с сайта)</td>
                    </tr>
                    <tr>
                        <td>Окраина Красноярска, Березовка, Солонцы</td>
                        <td>600 руб.</td>
                    </tr>
                    <tr>
                        <td>Плодовоягодная, Новолэнд</td>
                        <td>700 руб.</td>
                    </tr>
                    <tr>
                        <td>дер. Минино, дер. Бугачево, пос. Шамони, дер. Кузнецовка</td>
                        <td>1000 руб.</td>
                    </tr>
                    <tr>
                        <td>дер. Лукино</td>
                        <td>1200 руб.</td>
                    </tr>
                    <tr>
                        <td>пос. Элита, пос. Видный, ст. Минино</td>
                        <td>1300 руб.</td>
                    </tr>
                    <tr>
                        <td>дер. Селезнево, г. Сосновоборск</td>
                        <td>1700 руб.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="delivery-table__category">
            <div class="delivery-table__name delivery-table__name_collapse">Стоимость подъема товара по категориям</div>
            <div class="delivery-table__collapse row">
                <div class="col-lg-6">
                    <div class="delivery-table__wrap">
                        <table class="delivery-table__table">
                            <tr>
                                <td>Ванна Акриловая прямоугольная или ассиметричная</td>
                                <td>250 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Ванна Акриловая угловая размером до 145 х 145 см.</td>
                                <td>250 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Ванна Акриловая угловая размером больше 145 х 145 см. и гидромассажные ванны</td>
                                <td>300 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Ванна изготовленная не из акрила (чугун литьевой, мрамор, сталь, искусственный камень)</td>
                                <td>400 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Душевая кабина</td>
                                <td>от 300 руб. за этаж (по договоренности)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="delivery-table__wrap">
                        <table class="delivery-table__table">
                            <tr>
                                <td>Душевой уголок</td>
                                <td>200 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Умывальники, раковины, унитазы</td>
                                <td>100 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Зеркало</td>
                                <td>50 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Пенал</td>
                                <td>150 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Тумба под умывальник</td>
                                <td>150 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Кафельная плитка (1 коробка)</td>
                                <td>30 руб. за этаж</td>
                            </tr>
                            <tr>
                                <td>Негабаритный, особо крупный или тяжелый товар</td>
                                <td>По договоренности</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>