<div class="equipment">
    <div class="equipment__title">Совместимые гидромассажные системы</div>
    <div class="equipment__content row justify-content-between">
        <div class="equipment__list radio col-xl-6 col-lg-7">
            <div class="equipment__item radio__item">
                <input type="radio" class="radio__input" name="equipment" value="equipment-1"
                       id="equipment-1">
                <label class="radio__label" for="equipment-1">
                    <span class="equipment__thumbnail-wrap">
                        <img src="images/equipment/product-small.jpg" class="equipment__image" alt="">
                    </span>
                    <span class="equipment__name">Без гидромассажа</span>
                    <span class="equipment__price">0 ₽</span>
                </label>
            </div>
            <div class="equipment__item radio__item">
                <input type="radio" class="radio__input" name="equipment" value="equipment-2"
                       id="equipment-2" checked>
                <label class="radio__label" for="equipment-2">
                     <span class="equipment__thumbnail-wrap">
                        <img src="images/equipment/product-small.jpg" class="equipment__image" alt="">
                    </span>
                    <span class="equipment__name">ГМ Light</span>
                    <span class="equipment__price">25 690 ₽</span>
                </label>
            </div>
            <div class="equipment__item radio__item">
                <input type="radio" class="radio__input" name="equipment" value="equipment-3"
                       id="equipment-3">
                <label class="radio__label" for="equipment-3">
                     <span class="equipment__thumbnail-wrap">
                        <img src="images/equipment/product-small.jpg" class="equipment__image" alt="">
                    </span>
                    <span class="equipment__name">ГМ Optimal</span>
                    <span class="equipment__price">32 690 ₽</span>
                </label>
            </div>
        </div>
        <div class="equipment__info col-xl-5 col-lg-4">
            <div class="equipment__image-wrap">
                <img src="images/equipment/product-big.jpg" class="equipment__image" alt="">
            </div>
            <div class="equipment__title">Гидромассаж Light</div>
            <div class="equipment__description">
                Легкий массаж начального уровня, который позволит отдохнуть после тяжелого рабочего дня.
            </div>
            <div class="equipment__advantages">
                <div class="equipment__advantage">Общий массаж (6 гидрофорсунок)</div>
                <div class="equipment__advantage">Массаж спины (6 мини-джетов)</div>
            </div>
        </div>
    </div>
</div>