<div class="filter">
    <div class="filter__buttons">
        <a href="#" class="filter__help btn">Помощь в подборе</a>
        <a href="javascript:void(0)" class="filter__toggle btn btn_invert" onclick="toggleMobileFilter()"
           data-count="4">Фильтры</a>
    </div>
    <div class="filter__mobile">
        <div class="filter__header">
            <div class="filter__title">Фильтры</div>
            <a href="javascript:void(0)" onclick="toggleMobileFilter()">
                <img src="images/filter/close.svg" alt="">
            </a>
        </div>
        <div class="filter__choices">
            <a href="#" class="filter__choice">Все цены</a>
            <a href="#" class="filter__choice">Ванны</a>
            <a href="#" class="filter__choice">Раковины</a>
            <a href="#" class="filter__choice">Мебель</a>
            <a href="#" class="filter__choice filter__choice_clear">Очистить все</a>
        </div>
        <div class="filter__accordion">
            <div class="filter__collapse">
                <a class="filter__collapse-header" data-bs-toggle="collapse" href="#filter-categories" role="button">
                    Категории
                </a>
                <div class="collapse show" id="filter-categories">
                    <div class="filter__collapse-content">
                        <div class="filter__sections">
                            @@for (var i = 0; i < 5; i++) {
                            <a href="#" class="filter__section">Душевая программа</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__collapse">
                <a class="filter__collapse-header" data-bs-toggle="collapse" href="#filter-prices" role="button">
                    Цена
                </a>
                <div class="collapse show" id="filter-prices">
                    <div class="filter__collapse-content">
                        <div class="filter__input-groups">
                            <div class="filter__input-group filter__fields">
                                <input type="text" class="filter__field field" value="от 1 250">
                                <input type="text" class="filter__field field" value="до 7 500">
                            </div>
                            <div class="filter__input-group">
                                <input type="text" class="js-range-slider" name="my_range" value="" data-type="double"
                                       data-min="450" data-max="12000" data-from="1250" data-to="7500"/>
                            </div>
                            <div class="filter__input-group radio">
                                <div class="radio__item">
                                    <input type="radio" class="radio__input" name="price-type" value="prices-all"
                                           id="filterPricesAll" checked>
                                    <label class="radio__label" for="filterPricesAll">Все цены</label>
                                </div>
                                <div class="radio__item">
                                    <input type="radio" class="radio__input" name="price-type" value="prices-all"
                                           id="filterPricesSale">
                                    <label class="radio__label" for="filterPricesSale">Товары со скидкой</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__collapse">
                <a class="filter__collapse-header collapsed" data-bs-toggle="collapse" href="#filter-brands" role="button">
                    Бренды
                </a>
                <div class="collapse" id="filter-brands">
                    <div class="filter__collapse-content">
                        <div class="checkbox">
                            <div class="checkbox__item">
                                <input type="checkbox" class="checkbox__input" name="brand" id="filterBrand1">
                                <label class="checkbox__label" for="filterBrand1">Бренд 1</label>
                            </div>
                            <div class="checkbox__item">
                                <input type="checkbox" class="checkbox__input" name="brand" id="filterBrand2">
                                <label class="checkbox__label" for="filterBrand2">Бренд 2</label>
                            </div>
                            <div class="checkbox__item">
                                <input type="checkbox" class="checkbox__input" name="brand" id="filterBrand3">
                                <label class="checkbox__label" for="filterBrand3">Бренд 3</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="filter__controls">
            <a href="#" class="filter__control btn">Применить</a>
            <a href="#" class="filter__control btn btn_invert">Сбросить</a>
        </div>
    </div>
</div>