<div class="legal-info container">
    <h2 class="title title_small">Юридическая информация</h2>
    <div class="legal-info__row row">
        <div class="legal-info__col col-lg-5">
            <div class="legal-info__block legal-info__block_location">
                <div class="legal-info__text legal-info__text_bold">Россия, Красноярск - 663011</div>
                <div class="legal-info__text">Емельяновский район, п. Элита,<br>ул. Южная, дом 17</div>
            </div>
            <div class="legal-info__block legal-info__block_phone">
                <div class="legal-info__text legal-info__text_bold">+7 (391) 272-47-54</div>
                <div class="legal-info__text legal-info__text_bold">+7 (391) 205-13-45</div>
                <div class="legal-info__text legal-info__text_bold">+7 (391) 278-97-22</div>
                <div class="legal-info__text legal-info__text_bold">+7 (391) 228-99-99</div>
            </div>
        </div>
        <div class="legal-info__col col-lg-7">
            <div class="legal-info__block legal-info__block_name">
                <div class="legal-info__text legal-info__text_bold">Полное наименование:</div>
                <div class="legal-info__text">Индивидуальный предприниматель - Благородная Эльвира Эдуардовна</div>
            </div>
            <div class="legal-info__block legal-info__block_bank">
                <div class="legal-info__bank-line">
                    <div class="legal-info__text legal-info__text_bold">Расчетный счет:</div>
                    <div class="legal-info__text">40802810231000028217</div>
                </div>
                <div class="legal-info__bank-line">
                    <div class="legal-info__text legal-info__text_bold">К/с:</div>
                    <div class="legal-info__text">30101810800000000627</div>
                </div>
                <div class="legal-info__bank-line">
                    <div class="legal-info__text legal-info__text_bold">ИНН:</div>
                    <div class="legal-info__text">246200904453</div>
                </div>
                <div class="legal-info__bank-line">
                    <div class="legal-info__text legal-info__text_bold">ОГРН:</div>
                    <div class="legal-info__text">304246233400062</div>
                </div>
                <div class="legal-info__bank-line">
                    <div class="legal-info__text legal-info__text_bold">БИК:</div>
                    <div class="legal-info__text">040407627</div>
                </div>
            </div>
        </div>
    </div>
</div>