<div class="menu-subcategory">
    <div class="menu-subcategory__title">
        Ванны @@id
    </div>
    <div class="menu-subcategory__links">
        <a href="#" class="menu-subcategory__link">Акриловые ванны</a>
        <a href="#" class="menu-subcategory__link">Ванны из искусственного камня</a>
        <a href="#" class="menu-subcategory__link">Ванны с гидромассажем</a>
        <a href="#" class="menu-subcategory__link">Встраиваемые ванны</a>
        <a href="#" class="menu-subcategory__link">Приставные ванны</a>
        <a href="#" class="menu-subcategory__link">Угловые ванны</a>
        <a href="#" class="menu-subcategory__link">Отдельностоящие ванны</a>
        <a href="#" class="menu-subcategory__link">Круглые ванны</a>
        <a href="#" class="menu-subcategory__link">Прямоугольные ванны</a>
        <a href="#" class="menu-subcategory__link">Асимметричные ванны</a>
        <a href="#" class="menu-subcategory__link">Овальные ванны</a>
    </div>
</div>