<div class="news-card">
    <div class="news-card__image-wrap">
        <a href="#">
            <img src="images/news-card/photo.png" alt="" class="news-card__image">
        </a>
    </div>
    <div class="news-card__content">
        <div class="news-card__title"><a href="#">Суббота с друзьями</a></div>
        <div class="news-card__caption">Суббота создана для того, чтобы встретться с друзьями. Сегодня в “Ванна Центр”...</div>
        <div class="news-card__date">Февраль 12, 2020</div>
    </div>
</div>