<div class="offer container-fluid g-0">
    <div class="row g-0">
        <div class="offer__image-wrap col-lg-5">
            <img src="images/offer/photo.png" class="offer__image" alt="">
        </div>
        <div class="offer__content col-lg-7">
            <div class="offer__text">
                <div class="offer__title title">Успейте купить со скидкой</div>
                Условия акции и наличие товаров, на которые распростаняется
                скидка - уточните у нашего менеджера. Внимание! Количество товара ограничено.
            </div>
            <a href="#" class="offer__link">Перейти в каталог</a>
        </div>
    </div>
</div>