<div class="pagination">
    <a href="#" class="pagination__load">Загрузить еще</a>
    <div class="pagination__pages">
        <a href="#" class="pagination__page">1</a>
        <div class="pagination__page pagination__page_space">...</div>
        <a href="#" class="pagination__page">5</a>
        <a href="#" class="pagination__page">6</a>
        <div class="pagination__page pagination__page_active">7</div>
        <a href="#" class="pagination__page">8</a>
        <a href="#" class="pagination__page">9</a>
        <div class="pagination__page pagination__page_space">...</div>
        <a href="#" class="pagination__page">13</a>
    </div>
</div>