<div class="product-card">
    <div class="product-card__image-wrapper">
        @@include('labels.html')
        <img src="images/product-card/photo.png" class="product-card__image" alt="">
        <div class="product-card__actions">
            <a href="#" class="product-card__compare" title="Сравнить">
                <img src="images/product-card/compare.svg" alt="">
            </a>
            <a href="javascript:void(0)" class="product-card__cart cart-btn">Добавить</a>
            <a href="#" class="product-card__link">Подробнее</a>
        </div>
    </div>
    <div class="product-card__info">
        <div class="product-card__type">Ванна акриловая на каркасе</div>
        <div class="product-card__name"><a href="#">Riho Atlanta</a></div>
        <div class="product-card__prices">
            <div class="product-card__price">60 920 ₽</div>
            <div class="product-card__old-price">76 150 ₽</div>
        </div>
    </div>
</div>