<div class="product-card">
    <div class="product-card__image-wrapper">
        <img src="images/product-card/photo.png" class="product-card__image" alt="">
    </div>
    <div class="product-card__info">
        <div class="product-card__type">Ванна акриловая на каркасе</div>
        <div class="product-card__name">Riho Atlanta</div>
        <div class="product-card__prices">
            <div class="product-card__price">60 920 ₽</div>
            <div class="product-card__old-price">76 150 ₽</div>
        </div>
    </div>
</div>