<div class="section-card">
    <div class="section-card__image-wrap">
        <a href="#">
            <img src="images/section-card/photo.png" class="section-card__image" alt="">
        </a>
    </div>
    <div class="section-card__name">Ванны</div>
    <div class="section-card__description">
        Небольшое описание раздела, пара слов о товаре.
        Возможно еще какие-то слова о качестве, стране производителе и так далее.
    </div>
    <a href="#" class="section-card__link">Подробнее</a>
</div>