<div class="shop">
    <div class="shop__contacts">
        <div class="shop__contact">
            <div class="shop__address">г. Красноярск, ул. Водопьянова, д. 22</div>
            <div class="shop__caption">Ежедневно с 10 до 19</div>
        </div>
        <div class="shop__contact">
            <a href="tel:+73912051345" class="shop__address">+7 (391) 205-13-45</a>
            <div class="shop__caption">103vanna-centr.ru</div>
        </div>
    </div>
    <img src="images/shop/photo.jpg" class="shop__photo" alt="">
    <div class="shop__description paragraph">
        Классический ассортимент “Ванна Центра” плюс сантехника класса “Люкс”.
        Опытные консультанты ответтят на ваши вопросы и помогут правильно сделать выбор.
    </div>
</div>