<div class="shops-short">
    <div class="container">
        <div class="shops-short__item">
            <div class="title title_small d-lg-none">Магазины в Красноярске</div>
            <div class="shops-short__gallery">
                @@for (var i = 0; i < 3; i++) {
                    <div class="shops-short__image-wrap">
                        <img src="images/shops-short/photo.jpg" class="shops-short__image" alt="">
                    </div>
                }
            </div>
            <div class="shops-short__text">
                <div class="title title_small d-none d-lg-block">Магазины в Красноярске</div>
                <div class="paragraph">
                    За годы успешной работы мы смогли увеличить количество наших магазинов.
                    На данный момент в Красноярске представлено 5 магазинов и 1 склад для самовывоза.
                    Чтобы узнать подробнее о наших магазинах перейдите в раздел <a href="#">магазины</a>
                </div>
            </div>
        </div>
        <div class="shops-short__item">
            <div class="title title_small d-lg-none">Магазин в Абакане</div>
            <div class="shops-short__gallery">
                @@for (var i = 0; i < 3; i++) {
                <div class="shops-short__image-wrap">
                    <img src="images/shops-short/photo.jpg" class="shops-short__image" alt="">
                </div>
                }
            </div>
            <div class="shops-short__text">
                <div class="title title_small d-none d-lg-block">Магазин в Абакане</div>
                <div class="paragraph">
                    Нам удалось открыть свои представительства и в других регионах РФ.
                    Ознакомиться с режимом работы магазина вы можете в разделе <a href="#">магазины</a>
                </div>
            </div>
        </div>
    </div>
</div>