<div class="shop-card">
    <div class="shop-card__contacts">
        <div class="shop-card__contact">
            <div class="shop-card__address">Водопьянова 22</div>
            <div class="shop-card__caption">Ежедневно с 10 до 19</div>
        </div>
        <div class="shop-card__contact">
            <a href="tel:+73912051345" class="shop-card__phone">+7 (391) 205-13-45</a>
            <div class="shop-card__caption">103vanna-centr.ru</div>
        </div>
    </div>
    <div class="shop-card__right">
        <div class="shop-card__controls">
            <a href="#" class="shop-card__control shop-card__control_route">Схема проезда</a>
            <a href="#" class="shop-card__control shop-card__control_tour">Виртуальный тур</a>
        </div>
        <a href="#" class="shop-card__more">Подробнее о магазине</a>
    </div>
</div>