<div class="team">
    <div class="container">
        <div class="title title_small">Наша команда профессионалов</div>
        <div class="paragraph">
            В нашей компании работают специалисты, которые прошли специальную подготовку и с раостью
            помогут вам с выбором вашей будущей сантехники
        </div>
    </div>
    <div class="team__carousel">
        @@for (var i = 0; i < 10; i++) {
            <div class="team__item">
                <div class="team__photo-wrap">
                    <img src="images/team/photo.jpg" class="team__photo" alt="">
                </div>
                <div class="team__position">Менеджер магазина</div>
                <div class="team__name">Александр Килин</div>
            </div>
        }
    </div>
</div>