<div class="product container">
    <div class="product__top row align-items-center">
        <div class="col-auto">
            Артикул:
            <span class="product__vendor-code">BB6400500000000</span>
        </div>
        <div class="col-auto">
            <a href="javascript:void(0)" class="product__compare">Добавить в сравнение</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="product__gallery">
                @@include('../components/labels.html')
                <div class="product__carousel">
                    @@for (var i = 0; i < 4; i++) {
                        <div class="product__carousel-item">
                            <img src="images/product/photo-big.jpg" class="product__photo" alt="">
                        </div>
                    }
                </div>
            </div>
            <div class="product__carousel-nav">
                @@for (var i = 0; i < 4; i++) {
                    <div class="product__carousel-nav-item">
                        <img src="images/product/photo-big.jpg" class="product__photo" alt="">
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product__info">

            </div>
        </div>
    </div>
</div>