.banners {

  width: 100%;
  height: 570px;
  overflow: hidden;

  &__slide {
    width: 100%;
  }

  .flickity-page-dots {

    bottom: 33px;
    transform: unset;
    left: calc(50% + 30px);

    .dot {

      background: $light-blue;
      opacity: .7;

      &.is-selected {
        background: $blue;
        opacity: 1;
      }

    }

  }

}