.footer {

  margin-top: 120px;
  background: $blue-gradient;
  overflow: hidden;

  @include tablet {
    margin-top: 100px;
  }

  &__container {
    position: relative;
  }

  &__top {

    padding-top: 50px;
    padding-bottom: 35px;

    @include laptop {
      padding-top: 60px;
      padding-bottom: 0;
    }

  }

  &__socials {
    position: absolute;
    top: 0;
    right: 0.75rem;
  }

  &__logo {

    max-width: 100%;

    @include tablet {
      width: 290px;
    }

  }

  &__contacts {

    margin-top: 55px;

    @include laptop {
      margin-top: 0;
    }

    @include tablet {
      margin-top: 30px;
    }

  }

  &__contact {

    @include tablet {

      &:not(:first-child) {
        margin-top: 20px;
      }

    }

  }

  &__city {

    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #D0EFFF;

    &::before {
      content: "";
      width: 12px;
      height: 17px;
      background: url("../images/footer/pin.svg") no-repeat center;
      background-size: contain;
      margin-right: 14px;
    }

  }

  &__phone-wrap {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: flex-end;
  }

  &__phone {

    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $white;

    &:hover {
      color: $white;
    }

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background: url("../images/footer/phone.svg") no-repeat center;
      background-size: contain;
      margin-right: 10px;
    }

  }

  &__schedule {

    display: flex;
    align-items: center;
    margin-top: 14px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #D0EFFF;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background: url("../images/footer/schedule.svg") no-repeat center;
      background-size: contain;
      margin-right: 8px;
    }

  }

  &__callback {

    margin-top: 3px;
    font-size: 12px;
    line-height: 12px;
    text-decoration-line: underline;
    color: $light-blue;

    &:hover {
      text-decoration: none;
      color: $light-blue;
    }

  }

  &__navs {

    @include laptop {
      margin-top: 30px;
    }

    @include tablet {
      margin-top: 40px;
    }

  }

  &__nav {

    @include laptop {

      padding-top: 15px;
      padding-bottom: 15px;

      &:not(:first-child) {
        border-top: 1px solid rgba(216, 242, 255, .3);
      }

    }

  }

  &__bottom {

    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    color: $light-blue;
    opacity: .8;
    font-size: 14px;
    line-height: 17px;

    @include tablet {
      padding-bottom: 50px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      top: 0;
      left: -50vw;
      right: -50vw;
      background: $light-blue;
      opacity: 0.4;
    }

  }

  &__dev {

    display: flex;
    align-items: center;

    @include desktop {
      margin-bottom: 16px;
    }

    &-link {
      display: flex;
      margin-left: 11px;
    }

  }

  &__link {

    text-decoration: underline;

    @include tablet {
      margin-top: 10px;
      display: flex;
    }

  }

}