.footer {

  margin-top: 120px;
  background: $blue-gradient;

  @include laptop {
    display: none;
  }

  &__container {
    position: relative;
  }

  &__top {
    padding-top: 50px;
    padding-bottom: 35px;
  }

  &__socials {
    position: absolute;
    display: flex;
    top: 0;
    right: 0.75rem;
  }

  &__social {

    display: flex;

    &:not(:last-child) {
      margin-right: 5px;
    }

  }

  &__contacts {
    margin-top: 55px;
  }

  &__city {

    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #D0EFFF;

    &::before {
      content: "";
      width: 12px;
      height: 17px;
      background: url("../images/footer/pin.svg") no-repeat center;
      background-size: contain;
      margin-right: 14px;
    }

  }

  &__phone-wrap {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: flex-end;
  }

  &__phone {

    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $white;

    &:hover {
      color: $white;
    }

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background: url("../images/footer/phone.svg") no-repeat center;
      background-size: contain;
      margin-right: 10px;
    }

  }

  &__callback {

    margin-top: 3px;
    font-size: 12px;
    line-height: 12px;
    text-decoration-line: underline;
    color: $light-blue;

    &:hover {
      text-decoration: none;
      color: $light-blue;
    }

  }

  &__bottom {

    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    color: $light-blue;
    opacity: .8;
    font-size: 14px;
    line-height: 17px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      top: 0;
      left: -50vw;
      right: -50vw;
      background: $light-blue;
      opacity: 0.4;
    }

  }

  &__dev {

    display: flex;
    align-items: center;

    &-link {
      display: flex;
      margin-left: 11px;
    }

  }

  &__link {
    text-decoration: underline;
  }

}