.guarantee-hero {

  &__card {
    padding: 30px;
    background: #EFFAFF;
    box-shadow: 0 0 10px rgba(7, 104, 154, 0.1);
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $title;
  }

  &__contact {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {

    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: $gray;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      margin-right: 15px;
      background: url("../images/guarantee-hero/phone.svg") center no-repeat;
      background-size: cover;
    }

  }

  &__callback {

    font-size: 13px;
    line-height: 18px;
    text-decoration-line: underline;
    color: $dark-blue;

    &:hover {
      color: $dark-blue;
    }

  }

}