.news-short {

  margin-top: 100px;

  &__content {
    margin-top: 60px;
  }

  &__carousel {

    @include desktop {
      margin-top: 40px;
    }

  }

  &__slide {

    width: 100%;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  .flickity-page-dots {

    @include desktop-min {
      left: 0;
      transform: unset;
    }

  }

}