.payment-systems {

  &__grid {

    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include laptop {
      margin-top: 40px;
    }

    @include tablet {
      margin-top: 30px;
      grid-template-columns: 1fr;
    }

  }

  &__item {
    display: flex;
    align-items: start;
  }

  &__icon {

    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: $blue-gradient;
    padding: 12px;

    @include laptop {
      width: 70px;
      height: 70px;
    }

    @include tablet {
      width: 60px;
      height: 60px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

  }

  &__name {

    margin-top: 8px;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    color: $title;

    @include laptop {
      font-size: 20px;
      line-height: 25px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 21px;
    }

  }

  &__description {

    margin-top: 15px;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    color: $paragraph;

    @include laptop {
      margin-top: 10px;
      font-size: 17px;
      line-height: 24px;
    }

    @include tablet {
      margin-top: 0;
      font-size: 13px;
      line-height: 18px;
    }

  }

}