@include font-face('Helvetica', '../fonts/Helvetica/HelveticaRegular');
@include font-face('Helvetica', '../fonts/Helvetica/HelveticaLight', 300);
@include font-face('Helvetica', '../fonts/Helvetica/HelveticaMedium', 500);
@include font-face('Helvetica', '../fonts/Helvetica/HelveticaBold', 700);
@include font-face('Helvetica', '../fonts/Helvetica/HelveticaHeavy', 800);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

.h-100 {
  height: 100%;
}

.title {

  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: $title;
  opacity: 0.9;

  @include laptop {
    font-size: 32px;
    line-height: 40px;
  }

  @include tablet {
    font-size: 24px;
    line-height: 30px;
  }

  &_small {

    font-size: 32px;
    line-height: 31px;
    margin-bottom: 30px;

    @include laptop {
      font-size: 27px;
      line-height: 29px;
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 22px;
      line-height: 26px;
    }

  }

}

.paragraph {

  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: $paragraph;

  a {

    text-decoration: underline;
    color: $dark-blue;

    &:hover {
      text-decoration: none;
    }

  }

}

.cart-btn {

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue-gradient;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;

  &::after {
    content: "";
    width: 32px;
    height: 20px;
    background: url("../images/common/cart.svg") center no-repeat;
    background-size: contain;
    margin-left: 10px;
  }

  &:hover {
    color: $white;
  }

}

.btn {

  height: 50px;
  display: flex;
  width: max-content;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: $blue-gradient;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  &_invert {
    background: transparent;
    border: 2px solid $blue;
    color: $title;
  }

  &_wide {
    width: 100%;
  }

  &_cart {

    &::after {
      content: "";
      width: 32px;
      height: 20px;
      background: url("../images/common/cart.svg") center no-repeat;
      background-size: contain;
      margin-left: 10px;
    }

  }

  &:hover {
    color: $white;
    background: $blue;
    border: none;
  }

  &:active {
    color: $white;
    background: $dark-blue;
    border: none;
  }

}

.field {

  height: 45px;
  width: 100%;
  border: 1px solid #E5E7EA;
  padding: 0 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #393939;

  &::placeholder {
    color: rgba(119,135,154,.5);
  }

  &:focus {
    outline: none;
    border: 1px solid #87BFDC;
  }

}

.radio, .checkbox {

  display: flex;
  flex-direction: column;

  &__item {

    &:not(:last-child) {
      margin-bottom: 12px;
    }

  }

  &__label {

    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    color: $gray;
    cursor: pointer;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      margin-right: 14px;
      flex-shrink: 0;
    }

  }

}

.radio {

  &__label {

    &::before {
      background: url("../images/common/radio-empty.svg") center no-repeat;
      background-size: contain;
    }

  }

  &__input {

    display: none;

    &:checked {

      &+.radio {

        &__label {

          &::before {
            background: url("../images/common/radio-active.svg") center no-repeat;
            background-size: contain;
          }

        }

      }

    }

  }

}

.checkbox {

  &__label {

    &::before {
      background: url("../images/common/checkbox-empty.svg") center no-repeat;
      background-size: contain;
    }

  }

  &__input {

    display: none;

    &:checked {

      &+.checkbox {

        &__label {

          &::before {
            background: url("../images/common/checkbox-active.svg") center no-repeat;
            background-size: contain;
          }

        }

      }

    }

  }

}

.irs--flat {

  height: 47px;

  .irs {

    &-line {
      top: 8px;
      height: 2px;
      background: #B8C9DD;
      opacity: .6;
    }

    &-bar {
      top: 8px;
      height: 2px;
      background: $blue;
    }

    &-handle {

      top: 0;
      width: 18px;
      height: 18px;

      &.state_hover {

        &>i:first-child {
          background: $blue;
        }

      }

      &>i:first-child {

        left: 0;
        width: 18px;
        height: 18px;
        background: $dark-blue;
        border-radius: 50%;
        border: 3px solid $white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

        &:hover {
          background: $blue;
        }

      }

    }

    &-min, &-max {

      top: 26px;
      color: $text-element;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      background: 0;
      padding: 0;

      &::after {
        content: " ₽";
      }

    }

  }

}

.embed-responsive {

  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

}

.embed-responsive-21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.embed-responsive-16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.embed-responsive-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.embed-responsive-1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.flickity-page-dots {

  bottom: -43px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;

  .dot {

    margin-left: 0;
    background: $blue;
    opacity: 0.4;
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }

    &.is-selected {
      background: $blue;
      width: 13px;
      height: 13px;
      opacity: 1;
    }

  }

}

.flickity-with-arrows {

  @include tablet {
    padding-top: 70px;
  }

}

.flickity-prev-next-button {

  width: 55px;
  height: 55px;
  border: 1px solid #E5E7EA;

  @include tablet {
    top: 0;
  }

  &.previous {

    background: url("../images/common/arrow-dark-left.svg") center no-repeat, $white;

    @include tablet {
      left: calc(50% - 15px);
      transform: translateX(-100%);
    }

    &:not(:disabled) {

      &:hover {
        background: url("../images/common/arrow-light-left.svg") center no-repeat, $blue-gradient;
        border: none;
      }

      &:active {
        opacity: 1;
        background: url("../images/common/arrow-light-left.svg") center no-repeat, $dark-blue;
        border: none;
      }

    }

  }

  &.next {

    background: url("../images/common/arrow-dark-right.svg") center no-repeat, $white;

    @include tablet {
      right: calc(50% - 15px);
      transform: translateX(100%);
    }

    &:not(:disabled) {

      &:hover {
        background: url("../images/common/arrow-light-right.svg") center no-repeat, $blue-gradient;
        border: none;
      }

      &:active {
        opacity: 1;
        background: url("../images/common/arrow-light-right.svg") center no-repeat, $dark-blue;
        border: none;
      }

    }

  }

  &:disabled {
    opacity: 0.4;
  }

  .flickity-button-icon {
    display: none;
  }

}

.tab-content {

  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }

}

.fade {

  transition: opacity .15s linear;

  &:not(.show) {
    opacity: 0;
  }

}

.position-relative {
  position: relative;
}